body{
    background-color: rgba(255, 32, 24, 0.699);
}
.myButton {
	background-color:#44c767;
	border-radius:42px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Times New Roman;
	font-size:28px;
	padding:15px 37px;
	text-decoration:none;
	text-shadow:-1px 1px 2px #662828;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}
.boton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    position: relative; 
    top:420px;
    left: 140px;
}
.boton:hover {
	background-color:#5cbf2a;



}
.foto16{
   
    width: 1%;
   
    margin-left: 1%;
    margin-right: 0.5%;
    margin-top: -0.5%;
}
.foto2{
   
    width: -30%;
    
    margin-left: 1%;
    margin-right: 0.5%;
    margin-top: -0.5%;
}

.foto17{
   
    width: 4%;
    
    margin-left: 1%;
    margin-right: 50%;
    margin-top: -0.5%;
}
.foto25{
   
    width: 8%;
    
    margin-left: 4%;
    margin-right: 0.5%;
    margin-top: -30%;
}